@import "common";

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/ubuntu-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
         url('fonts/ubuntu-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/ubuntu-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/ubuntu-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/ubuntu-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/ubuntu-v13-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@font-face{
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/FiraCode-Regular.eot');
    src: url('fonts/FiraCode-Regular.eot') format('embedded-opentype'),
         url('fonts/FiraCode-Regular.woff2') format('woff2'),
         url('fonts/FiraCode-Regular.woff') format('woff'),
         url('fonts/FiraCode-Regular.ttf') format('truetype');
}

$fa-font-path: "fonts";
$fa-font-display: block;
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
