<div id="indihome">
    <img src="<%- url_for('assets/bigscreen/indihome/indihome.png') %>"/>
</div>

<div id="indihome-logo">
    <%= config.title %>
</div>

<div id="indihome-logo-right">
    <img src="/assets/bigscreen/indihome/dn42.svg"/>
</div>

<div id="indihome-content">
    <table class="table table-borderless">
        <tr>
            <td><span class="flag-icon flag-icon-large flag-icon-hk"></span></td>
            <td>
                <p><b>50kvm.lantian.pub</b></p>
                <p>Hong Kong, China</p>
            </td>
            <td class="indihome-num">172.22.76.<b>186</b></td>
        </tr>
        <tr>
            <td><span class="flag-icon flag-icon-large flag-icon-us"></span></td>
            <td>
                <p><b>hostdare.lantian.pub</b></p>
                <p>Los Angeles, United States</p>
            </td>
            <td class="indihome-num">172.22.76.<b>185</b></td>
        </tr>
        <tr>
            <td><span class="flag-icon flag-icon-large flag-icon-us"></span></td>
            <td>
                <p><b>virmach-ny1g.lantian.pub</b></p>
                <p>New York, United States</p>
            </td>
            <td class="indihome-num">172.22.76.<b>190</b></td>
        </tr>
        <tr>
            <td><span class="flag-icon flag-icon-large flag-icon-de"></span></td>
            <td>
                <p><b>virtono.lantian.pub</b></p>
                <p>Frankfurt, Germany</p>
            </td>
            <td class="indihome-num">172.22.76.<b>187</b></td>
        </tr>
        <tr>
            <td><span class="flag-icon flag-icon-large flag-icon-ro"></span></td>
            <td>
                <p><b>hostsolutions.lantian.pub</b></p>
                <p>Romania</p>
            </td>
            <td class="indihome-num">172.22.76.<b>188</b></td>
        </tr>
    </table>
</div>
