---

---

<div id="bg"></div>

<style lang="scss">
  @import '../../assets/sass/bootstrap_common.scss';
  #bg {
    display: var(--lt-bg-image-display);
    // URL must be relative to base style.scss file
    background-image: url('../../assets/res/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    // Reserve -1 for special pages that draw another background
    z-index: -2;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
</style>
