---
import { SITE_TITLE } from '../../consts'
---

<div id="indihome">
  <div id="indihome-logo">{SITE_TITLE}</div>

  <div id="indihome-logo-right"></div>

  <div id="indihome-content">
    <table class="table table-borderless">
      <tr>
        <td>
          <span class="flag-icon flag-icon-large flag-icon-hk"></span>
        </td>
        <td>
          <p><b>50kvm.lantian.pub</b></p>
          <p>Hong Kong, China</p>
        </td>
        <td class="indihome-num">172.22.76.<b>186</b></td>
      </tr>
      <tr>
        <td>
          <span class="flag-icon flag-icon-large flag-icon-us"></span>
        </td>
        <td>
          <p><b>hostdare.lantian.pub</b></p>
          <p>Los Angeles, United States</p>
        </td>
        <td class="indihome-num">172.22.76.<b>185</b></td>
      </tr>
      <tr>
        <td>
          <span class="flag-icon flag-icon-large flag-icon-us"></span>
        </td>
        <td>
          <p><b>virmach-ny1g.lantian.pub</b></p>
          <p>New York, United States</p>
        </td>
        <td class="indihome-num">172.22.76.<b>190</b></td>
      </tr>
      <tr>
        <td>
          <span class="flag-icon flag-icon-large flag-icon-de"></span>
        </td>
        <td>
          <p><b>virtono.lantian.pub</b></p>
          <p>Frankfurt, Germany</p>
        </td>
        <td class="indihome-num">172.22.76.<b>187</b></td>
      </tr>
    </table>
  </div>
</div>
