---
import type { MarkdownHeading } from 'astro'

type Props = {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<ol>
  {
    headings.map(heading => (
      <li class={`toc-item toc-level-${heading.depth}`}>
        <a class="toc-link" href={'#' + heading.slug}>
          <span class="toc-text">{heading.text}</span>
        </a>
      </li>
    ))
  }
</ol>

<style lang="scss">
  @import '../../assets/sass/bootstrap_common.scss';
  ol {
    line-height: 1.5;
    margin: 0;
    padding: 0;

    .toc-item {
      list-style: none;
    }

    .toc,
    .toc-child {
      padding: 0;
    }

    .toc-link {
      display: block;
      padding: 0.25em 0;
      margin-left: 1em;
    }
    .toc-level-1,
    .toc-level-2,
    .toc-level-3,
    .toc-level-4,
    .toc-level-5,
    .toc-level-6 {
      &:before {
        @include font-awesome;
        float: left;
        text-align: center;
        padding: 0.25em 0;
      }
    }

    .toc-level-1 {
      &:before {
        content: fa-content($fa-var-angle-double-right);
      }
    }
    .toc-level-2,
    .toc-level-3,
    .toc-level-4,
    .toc-level-5,
    .toc-level-6 {
      &:before {
        content: fa-content($fa-var-angle-right);
      }
    }
  }
</style>
