---
import SidebarWidget from '@components/fragments/SidebarWidget.astro'
import type { Language } from '@lib/language'

type Props = {
  language: Language
}

const { language } = Astro.props
const __ = language.getTranslation
---

<SidebarWidget title={__('latest_comments')} id="recent-comments">
  <li><a href="#">Loading...</a></li>
</SidebarWidget>

<script>
  import isLocalhost from '@assets/js/is-localhost'
  import type { RecentCommentData } from '@waline/api'
  const origin = isLocalhost()
    ? 'https://comments.lantian.pub'
    : window.location.origin
  fetch(`${origin}/api/comment?type=recent&count=10`)
    .then(response => {
      if (response.status !== 200) {
        throw new Error(`Server returned bad HTTP status ${response.status}`)
      }
      return response.json()
    })
    .then(data => {
      const element = document.getElementById('recent-comments')
      if (element) {
        element.innerHTML = data.data
          .map((comment: RecentCommentData) => {
            const text = comment.comment.replace(/(<([^>]+)>)/gi, '')
            return (
              '<li>' +
              comment.nick +
              ' <a href="' +
              comment.url +
              '">' +
              text +
              '</a></li>'
            )
          })
          .join('')
      }
    })
</script>
