<%
var next_paragraph_slice = site.tags.length;
next_paragraph_slice = (next_paragraph_slice * 1103515245 + 12345) % 32;
var next_paragraph_counter = 0;
var total_tag_counter = 0;
%>
<p>
    <% site.tags.forEach(tag => { %>
        <a href="<%- url_for(remove_trailing_slash(tag.path)) %>"><%= tag.name %></a><%
            if(tag.name.codePointAt(tag.name.length - 1) <= 0xff) {
                %>&nbsp;<%
            }
        %>平安<%
            next_paragraph_counter++;
            total_tag_counter++;
            if(next_paragraph_counter == next_paragraph_slice + 1 || total_tag_counter == site.tags.length) {
                %>。</p><p><%
                next_paragraph_counter = 0;
                next_paragraph_slice = (next_paragraph_slice * 1103515245 + 12345) % 32;
            } else {
                %>、<%
            }
        %>
    <% }) %>
</p>
<p>
    <%= config.title %><%
        if(config.title.codePointAt(config.title.length - 1) <= 0xff) {
            %>&nbsp;<%
        }
    %>平安。
</p>