body {
    background: none;
}

#ui-bar {
    display: none;
}

#story,
#passages {
    margin: 0 !important;
}

:root {
    --color-mode: 'light';
}

@media (prefers-color-scheme: light) {
    :root {
        --color-mode: 'light';
    }

    :root:not([data-user-color-scheme]) {
        @import 'sass/twine-sugarcube-bleached.scss';
    }
}

[data-user-color-scheme='light'] {
    @import 'sass/twine-sugarcube-bleached.scss';
}
