---
import { SITE_TITLE } from '../consts';
import { Language } from '../lib/language';

type Props = {
  language: Language;
};

const __ = Astro.props.language.getTranslation;
---

<footer class="lantian clearfix">
  <div id="copyright" class="float-end text-end">
    <i class="fas fa-copyright"></i> 2012-{new Date().getFullYear()}
    {SITE_TITLE}<br />
    <small>
      {__('powered_by').replace('{0}', 'Astro.js')} @ {new Date().toString()}
    </small>
  </div>
</footer>
