---
import { SITE_TITLE } from '../consts'
import type { Language } from '../lib/language'
import { format } from 'date-fns'
import type { PaginationProps } from './PagePaginator.astro'
import PagePaginator from './PagePaginator.astro'
import { getPosts } from 'src/lib/posts'

type Props = {
  language: Language
  pagination?: PaginationProps | undefined
}

const __ = Astro.props.language.getTranslation
const posts = await getPosts()
const firstPostYear = posts[posts.length - 1]!.date.getFullYear()
---

<footer class="lantian clearfix">
  {
    Astro.props.pagination !== undefined && (
      <PagePaginator {...Astro.props.pagination} />
    )
  }
  <div id="copyright" class="float-end text-end">
    <i class="fas fa-copyright"></i>
    {firstPostYear}-{new Date().getFullYear()}
    {SITE_TITLE}<br />
    <small>
      {__('powered_by', Astro.generator)} @ {
        format(new Date(), 'yyyy-MM-dd HH:mm:ss')
      }
    </small>
  </div>
</footer>
