---
import { SITE_TITLE } from '@consts'
import type { Language } from '@lib/language'
import { format } from 'date-fns'
import type { PaginationProps } from '@components/PagePaginator.astro'
import PagePaginator from '@components/PagePaginator.astro'
import PlausibleAnalytics from '@components/fragments/PlausibleAnalytics.astro'
import { getPosts } from '@lib/posts'

type Props = {
  language: Language
  pagination?: PaginationProps | undefined
}

const __ = Astro.props.language.getTranslation
const posts = await getPosts()
const lastPost = posts[posts.length - 1]
if (!lastPost) {
  throw new Error('No posts found to determine first post year')
}
const firstPostYear = lastPost.date.getFullYear()
---

<footer class="lantian clearfix">
  {
    Astro.props.pagination !== undefined && (
      <PagePaginator {...Astro.props.pagination} />
    )
  }
  <div id="copyright" class="float-end text-end">
    <i class="fas fa-copyright"></i>
    {firstPostYear}-{new Date().getFullYear()}
    {SITE_TITLE}<br />
    <small>
      {__('powered_by', Astro.generator)} @ {
        format(new Date(), 'yyyy-MM-dd HH:mm:ss')
      }
    </small>
  </div>
  <PlausibleAnalytics />
</footer>

<style lang="scss">
  footer {
    margin-top: -1px;
    border-top: 1px solid var(--lt-border);
    border-bottom: 1px solid var(--lt-border);
    width: 100%;
    background-color: var(--lt-component-bg-emphasis);

    #copyright {
      padding: 5px;
    }
  }
</style>
