---
import PagePost from '@components/PagePost.astro'
import type { Language } from '@lib/language'
import { Post } from '@lib/posts'

type Props = {
  language: Language
  posts: Post[]
}

const { language, posts } = Astro.props
---

{
  Astro.slots.has('default') && (
    <article>
      <h1 class="post-title">
        <slot />
      </h1>
    </article>
  )
}

{
  posts.map(post => (
    <PagePost language={language} post={post} isShowingMultiPosts={true} />
  ))
}

<style lang="scss">
  h1 {
    text-align: center;
  }
</style>
