@import "common";

/* ubuntu-300 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('../fonts/ubuntu-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-300italic - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('../fonts/ubuntu-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-300italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-italic - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('../fonts/ubuntu-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../fonts/ubuntu-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('../fonts/ubuntu-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500italic - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('../fonts/ubuntu-v14-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-500italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-500italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-700 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../fonts/ubuntu-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-700italic - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/ubuntu-v14-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('../fonts/ubuntu-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ubuntu-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ubuntu-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ubuntu-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ubuntu-v14-latin-700italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Fira Code';
    src: url('~firacode/distr/woff2/FiraCode-Light.woff2') format('woff2'),
         url("~firacode/distr/woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt";
    font-variant-ligatures: contextual;
}

@font-face {
    font-family: 'Fira Code';
    src: url('~firacode/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
         url("~firacode/distr/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt";
    font-variant-ligatures: contextual;
}

@font-face {
    font-family: 'Fira Code';
    src: url('~firacode/distr/woff2/FiraCode-Medium.woff2') format('woff2'),
         url("~firacode/distr/woff/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt";
    font-variant-ligatures: contextual;
}

@font-face {
    font-family: 'Fira Code';
    src: url('~firacode/distr/woff2/FiraCode-SemiBold.woff2') format('woff2'),
         url("~firacode/distr/woff/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt";
    font-variant-ligatures: contextual;
}

@font-face {
    font-family: 'Fira Code';
    src: url('~firacode/distr/woff2/FiraCode-Bold.woff2') format('woff2'),
         url("~firacode/distr/woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt";
    font-variant-ligatures: contextual;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Fira Code VF';
        src: url('~firacode/distr/woff2/FiraCode-VF.woff2') format('woff2-variations'),
             url('~firacode/distr/woff/FiraCode-VF.woff') format('woff-variations');
        /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
        font-weight: 300 700;
        font-style: normal;
        font-display: swap;
        font-feature-settings: "calt";
        font-variant-ligatures: contextual;
    }
}

@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
