---
import { getPosts } from '../../lib/posts'
import { replaceInvalidUrlChars } from '../../lib/utils'
import { SITE_TITLE } from '../../consts'
import { LanguageEnglish } from '../../lib/language/english'

const language = LanguageEnglish
const posts = (await getPosts()).filter(post => post.language.is(language))
const tags = [...new Set(posts.flatMap(post => post.tags))].sort()

function psuedoRNG(last: number): number {
  return ((last * 1103515245 + 12345) % 32) + 1
}

let randomNumber = psuedoRNG(tags.length)
let currentIndex = 0

let slices: string[][] = []
while (currentIndex < tags.length) {
  slices.push(tags.slice(currentIndex, currentIndex + randomNumber))
  currentIndex += randomNumber
  randomNumber = psuedoRNG(randomNumber)
}
---

{
  slices.map(slice => (
    <p>
      {slice.map((tag, index) => (
        <>
          {index == 0 ? 'Wish' : 'wish'}{' '}
          <a href={`/tag/${replaceInvalidUrlChars(tag)}`}>{tag}</a>
          safe{index == slice.length - 1 ? '. ' : ', '}
        </>
      ))}
    </p>
  ))
}

<p>Wish {SITE_TITLE} safe.</p>
