@charset "utf-8";

@use 'sass:math';

@import 'sass/common';
@import 'sass/fonts.scss';
@import 'sass/bootstrap.scss';

a {
  color: var(--lt-primary);
}

#textarea {
  resize: none;
}

article {
  border-bottom: 1px solid var(--lt-border);

  .post-title {
    margin: 5px 0;
  }

  .post-wrap {
    flex: auto;
    width: 0;
    padding: 0 5px;
  }
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: -1px;
}

@keyframes elderclock-plus1s {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: -30px;
  }
}

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'simple-lightbox/dist/simpleLightbox';
@import 'katex/dist/katex';

@import 'sass/flags.scss';

body.indihome {
  @include media-breakpoint-up(md) {
    #container {
      margin-top: 60vh;
    }
  }
}

@import 'colors/color.scss';

// Waline css selectors are special
@import 'sass/waline.scss';
