@charset "utf-8";

@use 'sass:math';

@import 'sass/common';
@import 'sass/fonts.scss';
@import 'sass/bootstrap.scss';

@include media-breakpoint-down(md) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    position: relative;
  }
}

a {
  color: var(--lt-primary);
}

#textarea {
  resize: none;
}

article {
  border-bottom: 1px solid var(--lt-border);

  .post-title {
    margin: 5px 0;
  }

  .post-meta-wrap {
    height: 2.5em;
    width: 2.5em;
    margin-top: 1px;
    background-color: var(--lt-component-bg-emphasis);

    p {
      width: 2.5em;
      height: 2.5em;
      line-height: 1;
      text-align: center;
      margin: 0;
      float: left;
      padding-top: 0.25em;
    }
  }

  .post-meta {
    overflow: hidden;
    line-height: 2.5;

    background-color: var(--lt-component-bg-emphasis);
    color: var(--lt-primary);
    a {
      color: var(--lt-primary);
    }

    .post-meta-value {
      display: none;
      margin-left: 2.5em;
    }

    &:hover,
    &:active {
      width: 300px;
      height: auto;
      background-color: var(--lt-selected-bg);
      color: var(--lt-selected);
      a {
        color: var(--lt-selected);
      }
      .post-meta-value {
        display: block;
      }
    }

    small {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      font-size: 75%;
      margin-top: 0.2em;
    }

    .badge-tag {
      font-size: 100%;
      font-weight: 400;

      background-color: var(--lt-selected-emphasis-bg);
      &:hover {
        background-color: var(--lt-selected-emphasis-hover-bg);
      }
    }
  }

  .qrcode {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0;
  }

  .post-wrap {
    flex: auto;
    width: 0;
    padding: 0 5px;
  }

  .post-image-wrap {
    margin: 0 -5px;

    @include media-breakpoint-up(md) {
      float: right;
      padding: 5px;

      img {
        width: 200px;
      }
    }

    @include media-breakpoint-down(md) {
      img {
        width: 100%;
      }
    }
  }

  .post-text {
    background-color: var(--lt-component-bg);

    > *:first-child {
      margin-top: 0 !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }

    p {
      word-wrap: break-word;
      word-break: normal;
    }
    img,
    svg {
      box-shadow: 0 0 10px var(--lt-page-shadow);
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    blockquote,
    pre {
      border-left: 5px solid var(--lt-component-bg-emphasis);
      padding-left: 8px;
    }
    code {
      border-bottom: 3px solid var(--lt-component-bg-emphasis);
    }

    pre code {
      border-bottom: none !important;
    }

    h1 {
      &:before {
        @include font-awesome;
        display: inline-block;
        content: fa-content($fa-var-angle-double-right);
      }
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:before {
        @include font-awesome;
        display: inline-block;
        content: fa-content($fa-var-angle-right);
      }
    }

    b,
    strong {
      font-weight: 700 !important;
      color: var(--lt-page-text-emphasis);
    }

    @include media-breakpoint-down(lg) {
      ol ol,
      ol ul,
      ul ol,
      ul ul {
        padding-left: 1em;
      }
    }

    table {
      display: block;
      width: 100%; // keep for backwards compatibility
      width: max-content;
      max-width: 100%;
      overflow: auto;

      margin-bottom: 1rem;

      th {
        font-weight: 700;
      }

      th,
      td {
        // stylelint-disable-next-line primer/spacing
        padding: 6px 13px;
        border: 1px solid var(--lt-border);
      }

      thead {
        background-color: var(--lt-component-bg-emphasis);
      }

      tr {
        border-top: 1px solid var(--lt-border);

        &:nth-child(2n) {
          background-color: var(--lt-component-bg-less-emphasis);
        }
      }
    }

    .btn-group-vertical > .btn-group,
    .btn-group-vertical > .btn {
      margin-left: 0 !important;
    }

    .header-anchor {
      margin-left: 0.25em;
    }

    #twine {
      width: 100%;
      border: none;
    }
  }
}

.widget {
  margin-bottom: 2px;

  h3 {
    color: var(--lt-page-text-emphasis);
    font-weight: 700;
  }

  ul li,
  h3 {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted var(--lt-border-weak);
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ul {
    margin: 0;

    li {
      .fas {
        color: var(--lt-page-text-emphasis);
      }

      &:last-child {
        border-bottom: 1px solid var(--lt-border);
      }
      &::before {
        @include font-awesome;
        float: left;
        content: fa-content($fa-var-angle-right);
      }
    }
  }

  .row {
    border-bottom: 1px solid var(--lt-border);
    margin: 0;
    div {
      padding: 3px;
      text-align: center;
    }
    div:not(:last-child) {
      border-right: 1px dotted var(--lt-border-weak);
    }
    p {
      margin: 0;
    }
  }
}

#content {
  flex: 3;
  width: 0;
}

aside {
  flex: 1;
  width: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: -1px;
}

@keyframes elderclock-plus1s {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: -30px;
  }
}

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'simple-lightbox/dist/simpleLightbox';
@import 'katex/dist/katex';

@import 'sass/flags.scss';

body.indihome {
  @include media-breakpoint-up(md) {
    #container {
      margin-top: 60vh;
    }
  }
}

@import 'colors/color.scss';

// Waline css selectors are special
@import 'sass/waline.scss';
