<% if(is_category()) { %>
    <article>
        <div class="row">
            <div class="post-info col-md-3 col-12">
            </div>
            <div class="col-md-9 col-12 post-wrap">
                <h1 class="post-title"><%- __('list_category').replace('{0}', '<a href="' + url_for(page.path) + '" rel="bookmark">' + page.category + '</a>') %></h1>
            </div>
        </div>
    </article>
<% } else if(is_tag()) { %>
    <article>
        <div class="row">
            <div class="post-info col-md-3 col-12">
            </div>
            <div class="col-md-9 col-12 post-wrap">
                <h1 class="post-title"><%- __('list_tag').replace('{0}', '<a href="' + url_for(page.path) + '" rel="bookmark">' + page.tag + '</a>') %></h1>
            </div>
        </div>
    </article>
<% } else if(is_archive()) { %>
    <article>
        <div class="row">
            <div class="post-info col-md-3 col-12">
            </div>
            <div class="col-md-9 col-12 post-wrap">
                <%
                let time = "";
                if(is_month()) {
                    time = page.year + '-' + page.month;
                } else if(is_year()) {
                    time = page.year
                }
                %>
                <h1 class="post-title"><%- __('list_archive').replace('{0}', '<a href="' + url_for(page.path) + '" rel="bookmark">' + time + '</a>') %></h1>
            </div>
        </div>
    </article>
<% } %>
<% page.posts.each(function(post){ %>
    <%- partial('post', {post: post, index: true}) %>
<% }) %>