<div id="disqus_thread"></div>

<%
var removeTrailingSlash = function(s) {
    if(s[s.length - 1] == '/') {
        return s.substring(0, s.length - 1);
    } else if(s.substring(s.length - 11) == '/index.html') {
        return s.substring(0, s.length - 11);
    } else {
        return s;
    }
}
%>
<script>
addLoadEvent(setTimeout(function() {
    var disq = new DisqusJS({
        shortname: 'lantian',
        siteName: 'Lan Tian @ Blog',
        identifier: '/<%= removeTrailingSlash(page.path) %>',
        url: '<%= removeTrailingSlash(page.permalink) %>',
        apikey: 'hxtAuBcAKlhxWnRnQlpLA6jIR54Wdh8aiVIIkm8Doha088NweAdV4jJXUahTWBb6',
        admin: 'lan_tian',
        adminLabel: '<%- __("admin") %>'
    });
}, 3000));
</script>
