<% if (page_language() == 'zh') { %>
<p class="text-center">本站使用 Disqus 评论系统，中国大陆访问可能不稳定。</p>
<% } %>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '<%= remove_trailing_slash(page.permalink) %>';
        this.page.identifier = '/<%= remove_trailing_slash(page.path) %>';
    };
</script>
<noscript>
    <%- __('disqus_noscript').replace('{0}', '<a href="https://disqus.com/?ref_noscript">Disqus</a>') %>
</noscript>
