<div id="waline"></div>
<script>
    var waline_config = {
        el: '#waline',
        serverURL: 'https://comments.lantian.pub',
        path: '/<%= remove_trailing_slash(page.path) %>',
        lang: '<% if (page_language() == "zh") { %>zh-CN<% } else { %>en-US<% } %>',
        requiredMeta: ['nick', 'mail'],
        login: 'disable',
        emoji: [
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
        ],
    };
</script>
