@import 'common';

/* ubuntu-300 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-300-normal.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-300-normal.woff') format('woff');
}

/* ubuntu-300italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-300-italic.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-300-italic.woff') format('woff');
}

/* ubuntu-italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-400-normal.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-400-normal.woff') format('woff');
}

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-400-italic.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-400-italic.woff') format('woff');
}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-500-normal.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-500-normal.woff') format('woff');
}

/* ubuntu-500italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-500-italic.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-500-italic.woff') format('woff');
}

/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-700-normal.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-700-normal.woff') format('woff');
}

/* ubuntu-700italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('@fontsource/ubuntu/files/ubuntu-latin-700-italic.woff2')
      format('woff2'),
    url('@fontsource/ubuntu/files/ubuntu-latin-700-italic.woff') format('woff');
}
/* fira-code-300 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  font-feature-settings: 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'zero';
  font-variant-ligatures: contextual;
  src:
    local(''),
    url('@fontsource/fira-code/files/fira-code-latin-300-normal.woff2')
      format('woff2'),
    url('@fontsource/fira-code/files/fira-code-latin-300-normal.woff')
      format('woff');
}
/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'zero';
  font-variant-ligatures: contextual;
  src:
    local(''),
    url('@fontsource/fira-code/files/fira-code-latin-400-normal.woff2')
      format('woff2'),
    url('@fontsource/fira-code/files/fira-code-latin-400-normal.woff')
      format('woff');
}
/* fira-code-500 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  font-feature-settings: 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'zero';
  font-variant-ligatures: contextual;
  src:
    local(''),
    url('@fontsource/fira-code/files/fira-code-latin-500-normal.woff2')
      format('woff2'),
    url('@fontsource/fira-code/files/fira-code-latin-500-normal.woff')
      format('woff');
}
/* fira-code-600 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-feature-settings: 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'zero';
  font-variant-ligatures: contextual;
  src:
    local(''),
    url('@fontsource/fira-code/files/fira-code-latin-600-normal.woff2')
      format('woff2'),
    url('@fontsource/fira-code/files/fira-code-latin-600-normal.woff')
      format('woff');
}
/* fira-code-700 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  font-feature-settings: 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'zero';
  font-variant-ligatures: contextual;
  src:
    local(''),
    url('@fontsource/fira-code/files/fira-code-latin-700-normal.woff2')
      format('woff2'),
    url('@fontsource/fira-code/files/fira-code-latin-700-normal.woff')
      format('woff');
}

@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
