@import 'common';

#bg {
  background-image: url('../res/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
