@charset "utf-8";
@import 'common';
@import '@waline/client/style';

:root {
  --waline-font-size: 1rem;
  --waline-white: var(--lt-component-bg);
  --waline-light-grey: var(--lt-page-text-weak);
  --waline-dark-grey: var(--lt-page-text);
  --waline-theme-color: var(--lt-primary);
  --waline-active-color: var(--lt-primary);
  --waline-color: var(--lt-page-text);
  --waline-bg-color: var(--lt-component-bg);
  --waline-bg-color-light: var(--lt-component-bg);
  --waline-bg-color-hover: var(--lt-component-bg);
  --waline-border-color: var(--lt-border-weak);
  --waline-disable-bg-color: var(--lt-component-bg-less-emphasis);
  --waline-disable-color: var(--lt-page-text-weak);
  --waline-code-bg-color: transparent;
  --waline-bq-color: var(--lt-component-bg-emphasis);
  --waline-avatar-size: 4rem;
  --waline-m-avatar-size: 3rem;
  --waline-badge-color: var(--lt-primary);
  --waline-badge-font-size: 0.8rem;
  --waline-info-bg-color: var(--lt-component-bg-emphasis);
  --waline-info-color: var(--lt-page-text-weak);
  --waline-info-font-size: 0.625em;
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 0;
  --waline-box-shadow: none;
}

[data-waline] * {
  border-radius: 0 !important;
}

.wl-content {
  pre,
  pre[class*='language-'] {
    overflow: auto;

    margin: 0.75rem 0;
    padding: 1rem 1.25rem;
    border-radius: 6px;

    background: var(--waline-code-bgcolor);

    line-height: 1.4;

    code {
      padding: 0;
      border-radius: 0;
      background: transparent !important;
      color: var(--lt-page-text);
    }
  }

  @import 'prism-themes/themes/prism-one-light';

  @media (prefers-color-scheme: dark) {
    :root {
      --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
      @import 'prism-themes/themes/prism-one-dark';
    }
  }

  [data-user-color-scheme='dark'] {
    @import 'prism-themes/themes/prism-one-dark';
  }
}
